Flask
Jinja2
MarkupSafe
Pygments
SQLAlchemy
Sphinx
Werkzeug
docutils
## FIXME: could not find svn URL in dependency_links for this package:
flup
gevent
greenlet
gunicorn
heroku
itsdangerous
pdfrw
python-dateutil
redis
reportlab
requests
rst2pdf

